
.comp{
  background-color: aqua;
  padding: 5px;
  margin: 5px;
}
.compb{
  background-color: pink;
  padding: 5px;
  margin: 5px;
}
.compc{
  background-color: blue;
  padding: 5px;
  margin: 5px;
}


